body {
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 auto;
    padding: 0;
  }

  .list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
  }

  .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  }

  v