body {
    background-color: hsl(0, 100%, 97%);
    width: 1400px;
    margin: 0 auto;
    padding: 0;
  }
  h4 {
    color: #000000;
    font-size: 42px;
    letter-spacing: -2px;
    font-family: courier, monospace;
    text-align: left;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .list {
    color: #555;
    /* background-color: peachpuff; */
    font-size: 22px;
    /* font-size: 2rem; */
    padding: 0 !important;
    width: auto;
    /* font-family: 'Reenie Beanie'; */
    font-family: courier, monospace;
    border: 1px solid #dedede;
    
  }
  .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    /* text-indent: 25px; */
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  }
  .list li:hover {
    background-color: #5a99a3;
    color: white;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
  }
  .lines {
    border-left: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
    width: 2px;
    float: left;
    height: 1600px;
    margin-left: 40px;

  }
  .lines {
    border-left: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
    width: 2px;
    float: left;
    height: 1600px;
    margin-left: 40px;

  }